<div class="main">
  <div class="section intro">
    <div>
      <img src="public/logo.png" alt="logo" />
      <div>hello</div>
    </div>
    <div>retro name</div>
    <div>username</div>
  </div>
  <div class="section ribbon">
    <div>search</div>
    <div>sort</div>
    <div>add</div>
    <div>share</div>
  </div>
  <div class="section questions">
    <div>surveys</div>
    <div>went well</div>
    <div>to improve</div>
    <div>action items</div>
  </div>
</div>
