<html>
  <head>
    <meta charset="UTF-8">
    <title>CMS</title>
    <link rel="stylesheet" href="/stylesheets/cms.css" type="text/css">
  </head>
  <body>
    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %><p>
    <% end %>
    <%= yield %>
  </body>
<html>